* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.wall {
	width: 100vw;
	height: 100vh;
	
	background: url('tr.png') center bottom repeat-x,
				url('cigle.jpg') center bottom repeat;
				
	background-size: auto 800px,
					 400px auto;
}