.item {
	display: block;
	padding: 3px;
	margin: 2px;
	border: 1px solid #ddd;
}

.item:hover:not([data-disable-menu="true"]) {
	background-color: #f9f9f9;
}

.item[data-disable-menu="true"] {
	color: darkgray;
}

#context-menu {
	position: absolute;
	border: 1px solid #000;
	background-color: #fdfdfd;
	color: #000;
	padding: 4px;
}

#context-menu .action {
	display: block;
	margin: 3px 0px;
}

#context-menu .action:hover {
	background-color: #f9f9f9;
}